/*
-------Reset----------
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
header,
main,
footer,
section {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
-------Fonts----------
*/
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/*
----------Base-------------
*/
body {
  font-family: "gilroy", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  color: #000;
  height: 100%;
}
body.locked {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 600;
  font-size: 2.375rem;
  text-transform: uppercase;
  text-align: center;
}
.title:not(:last-child) {
  margin-bottom: 25px;
}

.subtitle {
  text-align: center;
}

.bg-gray {
  background-color: #F1F1F1;
  padding: 120px 0 65px;
  margin-bottom: 55px;
}

/*
---------Header-----------
*/
.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  color: #000;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 100px;
}
.header__btn {
  background: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: color 0.3s;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
.header__btn--active {
  font-weight: 700;
}
@media (any-hover: hover) {
  .header__btn:hover {
    color: #C90000;
  }
}
.header__btn + .header__btn {
  margin-left: 10px;
}

.menu {
  display: flex;
}
@media (min-width: 768px) {
  .menu {
    margin-left: 35px;
  }
}
@media (max-width: 767.98px) {
  .menu {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: -100%;
    left: 0;
    transition: all 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu--active {
    top: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    height: 100%;
    margin-bottom: 23px;
  }
}
.menu__item {
  position: relative;
}
@media (min-width: 768px) {
  .menu__item + .menu__item {
    margin-left: 43px;
  }
}
@media (max-width: 767.98px) {
  .menu__item + .menu__item {
    margin-top: 43px;
  }
}
.menu__link {
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #C90000;
  }
}
.menu__btn {
  color: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
@media (any-hover: hover) {
  .menu__btn:hover {
    color: #C90000;
  }
}
.menu__sublist {
  list-style-type: none;
  background-color: #333;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media (min-width: 767.98px) {
  .menu__sublist {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
  }
}
@media (max-width: 767.98px) {
  .menu__sublist {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .menu__sublist--active {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767.98px) {
  .menu__sublist--active {
    display: block;
  }
}
.menu__phones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28px;
  margin-right: 12px;
}
.menu__phones a {
  font-size: 0.75rem;
  line-height: 1.1666666667;
}
.menu__phones a:first-child {
  letter-spacing: -0.019em;
}
.menu .btn-group {
  margin-left: 12px;
}

.menu-sublist__link {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.burger {
  display: none;
}

@media (max-width: 767.98px) {
  .burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    border: 0;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .burger span {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s;
  }
  .burger:after {
    top: 0;
  }
  .burger::before {
    bottom: 7px;
  }

  .burger--active::before {
    transform: rotate(45deg);
    top: 0;
    background-color: #fff;
  }
  .burger--active::after {
    transform: rotate(-45deg);
    bottom: 0;
    background-color: #fff;
  }
  .burger--active span {
    transform: scale(0);
  }
}
input {
  width: 100%;
  padding: 10px;
  background: #F3F3F3;
  border: 1px solid #969696;
  border-radius: 25px;
  outline: none;
  transition: outline 0.3s;
  font-weight: 600;
  font-size: 1.125rem;
  color: #000;
  text-align: center;
}
@media (any-hover: hover) {
  input:hover {
    outline: 2px solid black;
  }
}
input:focus {
  outline: 2px solid black;
}
input::placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  outline: none;
  resize: none;
}

.radio {
  position: relative;
}
.radio__input {
  appearance: none;
  position: absolute;
}
.radio__label {
  padding-left: 25px;
  cursor: pointer;
}
.radio__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s, border 0.3s;
}
.radio__label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.3s;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  appearance: none;
  position: absolute;
}
.checkbox__label {
  padding-left: 25px;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s, border 0.3s;
}
.checkbox__label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.3s;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: #C90000;
  padding: 1em;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  border: none;
}
.btn--sm {
  padding: 0.5555555556em;
}
.btn--blue {
  background-color: #073465;
  border: 1px solid #FFFFFF;
}
.btn:hover {
  background-color: #32408f;
}
.btn-group {
  display: flex;
}
.btn--full {
  width: 100%;
}

a {
  transition: color 0.3s;
}
@media (any-hover: hover) {
  a:hover {
    color: #C90000;
  }
}

.arrow::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 11px;
  background-color: #000;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-left: 5px;
  transition: all 0.3s;
}

.socials__list {
  display: flex;
  align-items: center;
}
.socials__item + .socials__item {
  margin-left: 12px;
}
@media (any-hover: hover) {
  .socials__link:hover img {
    transform: scale(1.2);
  }
}
.socials__link img {
  transition: transform 0.3s;
  width: 25px;
  height: 25px;
}

.breadcrumb {
  margin-bottom: 59px;
}
.breadcrumb__list {
  display: flex;
  padding: 0;
}
.breadcrumb__item {
  font-weight: 600;
  font-size: 1rem;
}
.breadcrumb__item:not([aria-current]) a {
  text-decoration: underline;
}
.breadcrumb__item + .breadcrumb__item {
  margin-left: 10px;
}
.breadcrumb__item--active::before {
  content: ">";
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.pagination__list {
  display: flex;
  align-items: center;
}
.pagination__list li + li {
  margin-left: 31px;
}
.pagination__item {
  display: block;
  width: 69px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}
.pagination__item--active {
  background: #073465;
  color: #fff;
}
@media (any-hover: hover) {
  .pagination__item:hover {
    background: #073465;
    color: #fff;
  }
}
.pagination__arrow {
  width: 68px;
  margin-left: 28px;
  cursor: pointer;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 29px;
}

.card {
  max-width: 360px;
  width: 100%;
  background: #F8F8F8;
  border-radius: 5px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .card:hover {
    transform: scale(1.1);
  }
}
.card__img {
  margin-bottom: 3px;
  width: 100%;
  height: 161px;
  filter: drop-shadow(0px 0px 11px #073465);
}
.card__info {
  background: #073465;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
}
.card__info:not(:last-child) {
  margin-bottom: 16px;
}
.card__list {
  list-style-type: disc;
  padding-left: 30px;
  padding-bottom: 36px;
}
.card__item {
  font-weight: 600;
  font-size: 1rem;
}
.card__item + .card__item {
  margin-top: 6px;
}
.card__item--blue {
  color: #073465;
}
.card__list-prices {
  padding-top: 24px;
  text-align: center;
  border-top: 1px solid #000000;
  margin-top: 27px;
  padding-bottom: 34px;
  padding-left: 13px;
  padding-right: 23px;
}
.card__content {
  font-size: 1rem;
  padding: 0 27px 43px;
}
.card--noImg .card__list {
  padding-bottom: 0;
}
.card--noImg .card__info {
  text-transform: uppercase;
  padding: 34px;
  margin-bottom: 38px;
}

.card-list-prices__item {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.666875;
  letter-spacing: 0.05em;
  color: #073465;
}

.table__col {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  border-bottom: 1px solid #D2D2D2;
  padding: 10px 0;
}
.table__item {
  height: 47px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.table__item:first-child {
  margin-right: 1rem;
}
.table__item:last-child {
  position: relative;
  padding-left: 67px;
}
.table__item:last-child::before {
  content: "";
  width: 1px;
  height: 100vh;
  background: #D2D2D2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.table__item--bold {
  font-weight: 700;
}
.table__item--upper {
  text-transform: uppercase;
}

.calculator {
  background: #FAF9F9;
  box-shadow: 0px 0px 13px rgba(7, 52, 101, 0.49);
  border-radius: 10px;
  padding: 39px 120px 56px;
  margin: 0 30px;
}
.calculator .socials__link {
  width: 45px;
  height: 45px;
}
.calculator .socials__link img {
  width: 45px;
  height: 45px;
}
.calculator__container {
  display: flex;
}
.calculator__info {
  border-left: 1px solid #D2D2D2;
  margin-left: 16px;
  padding-left: 16px;
}
.calculator__info-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 19px;
}
.calculator__info-1:not(:last-child) {
  margin-bottom: 26px;
}
.calculator__info-2 {
  background: #FFFFFF;
  border: 1px solid #969696;
  box-shadow: 0px 2px 14px rgba(7, 52, 101, 0.34);
  border-radius: 20px;
  padding: 26px 19px;
  font-weight: 400;
  font-size: 2.25rem;
  white-space: nowrap;
}
.calculator__info-2 span {
  font-size: 3.4375rem;
}
.calculator__info-2:not(:last-child) {
  margin-bottom: 33px;
}
.calculator .btn {
  margin-bottom: 55px;
}
.calculator__info-3 {
  font-weight: 700;
  font-size: 1.5rem;
}
.calculator__info-3:not(:last-child) {
  margin-bottom: 15px;
}
.calculator__info-4:not(:last-child) {
  margin-bottom: 31px;
}
.calculator__info-4 p {
  font-weight: 600;
  font-size: 1.125rem;
  max-width: 50%;
}
.calculator__info-4 p:not(:last-child) {
  margin-bottom: 14px;
}
.calculator__info-4 a {
  font-size: 1rem;
  line-height: 1.666875;
  transition: color 0.3s;
  display: block;
}
@media (any-hover: hover) {
  .calculator__info-4 a:hover {
    color: #C90000;
  }
}
.calculator__info-4-row {
  display: flex;
  align-items: center;
}
.calculator__info-4-row div + div {
  margin-left: 12px;
}
.calculator__info-5:not(:last-child) {
  margin-bottom: 31px;
}
.calculator__info-5 p {
  font-weight: 600;
  font-size: 1.125rem;
}
.calculator__info-5 p:not(:last-child) {
  margin-bottom: 23px;
}

.filter {
  flex-basis: 67%;
}
.filter__item + .filter__item {
  border-top: 1px solid #D2D2D2;
  padding-top: 19px;
}
.filter__content-2 {
  margin-top: 9px;
}
.filter__item-1:not(:last-child) {
  margin-bottom: 20px;
}
.filter__item-2:not(:last-child) {
  margin-bottom: 36px;
}
.filter__item-2 .filter__item-text:not(:last-child) {
  margin-bottom: 21px;
}
.filter__between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__between:not(:last-child) {
  margin-bottom: 13px;
}
.filter__item-text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
.filter__item-text:not(:last-child) {
  margin-bottom: 6px;
}
.filter__item-number {
  font-size: 1rem;
  line-height: 1.666875;
  position: relative;
  align-self: flex-end;
}
.filter__item-number:first-child {
  margin-left: 6px;
}
.filter__item-number.border::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 53px;
  height: 1px;
  background-color: #949494;
}
.filter__range {
  width: 100%;
  background: #FFFFFF;
  box-shadow: inset -1px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 13px;
}
.filter__range:not(:last-child) {
  margin-bottom: 5px;
}
.filter__range.noUi-target, .filter__range.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.filter__range .noUi-base,
.filter__range .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.filter__range .noUi-connects {
  border-radius: 30px;
  overflow: hidden;
}
.filter__range .noUi-connect {
  background: #073465;
  box-shadow: inset -1px 2px 7px rgba(0, 0, 0, 0.25);
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.filter__range .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.filter__range .noUi-handle {
  border-radius: 50%;
  background: #073465;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 2px 1px 3px rgba(255, 255, 255, 0.49);
  cursor: pointer;
  backface-visibility: hidden;
  position: absolute;
  width: 23px;
  height: 23px;
  right: -17px;
  top: -6px;
}
.filter__range .noUi-touch-area {
  height: 100%;
  width: 100%;
}
.filter__row {
  display: grid;
  grid-template-columns: 1.6fr 1.035fr 1.2fr;
  align-items: center;
}
.filter__row + .filter__row {
  margin-top: 15px;
}
.filter__row .filter__item-number {
  margin-left: 0;
  line-height: 1;
}
.filter__row .filter__range {
  height: 9px;
}
.filter__row .filter__range:not(:last-child) {
  margin-bottom: 3px;
}
.filter__row .filter__range .noUi-handle {
  width: 15px;
  height: 15px;
  right: -10px;
  top: -3px;
}
.filter__item-2:not(:last-child) {
  margin-bottom: 36px;
}
.filter__name {
  font-size: 1.25rem;
}
.filter__name:not(:last-child) {
  margin-right: 25px;
}
.filter__item-3:not(:last-child) {
  margin-bottom: 33px;
}
.filter__flex {
  display: flex;
  justify-content: space-between;
  max-width: 653px;
}
.filter__flex .filter__choice-grid {
  justify-content: end;
}
.filter__flex + .filter__flex {
  margin-top: 34px;
}
.filter__choice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 165px);
  gap: 17px 30px;
  flex-basis: 68%;
}
.filter__choice {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.filter__choice input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
.filter__choice input:checked + .filter__block {
  background-color: #073465;
  color: #fff;
}
.filter__choice input:disabled + .filter__block {
  border: 1px solid #CFCFCF;
  color: #CFCFCF;
}
.filter__choice input:disabled + .filter__block:hover {
  background: inherit;
  color: #CFCFCF;
}
.filter__block {
  padding: 5px;
  text-align: center;
  background: transparent;
  border: 1px solid #949494;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1.666875;
  transition: background-color 0.3s, color 0.3s;
}
.filter__block:hover {
  background-color: #073465;
  color: #fff;
}
.filter__item-4:not(:last-child) {
  margin-bottom: 28px;
}
.filter__item-4 .filter__item-text:not(:last-child) {
  margin-bottom: 19px;
}
.filter__item-5:not(:last-child) {
  margin-bottom: 28px;
}
.filter__btn {
  margin-top: 31px;
}

.filter-range {
  margin-bottom: -16px;
}

.filter-counter {
  padding: 4px 5px 5px;
  border: 1px solid #949494;
  border-radius: 20px;
  background: transparent;
  margin-right: 31px;
  display: flex;
  justify-content: space-between;
  max-height: 32px;
  z-index: 6;
}
.filter-counter span {
  font-size: 1.25rem;
  line-height: 1.15;
  padding-left: 27px;
}
.filter-counter__btns {
  display: flex;
  flex-direction: column;
}
.filter-counter__btn {
  background: transparent;
  border: none;
  outline: none;
  height: 9px;
  cursor: pointer;
}
.filter-counter__btn:first-child {
  margin-top: -2px;
}
.filter-counter__btn + .filter-counter__btn {
  margin-top: 6px;
}

.intro {
  padding: 96px 0 56px;
  background-image: url("../img/main-pictures/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 160px;
}
.intro__content {
  margin-bottom: 5px;
}
.intro__title {
  font-weight: 600;
  font-size: 3.4375rem;
}
.intro__title:not(:last-child) {
  margin-bottom: 32px;
}
.intro__subtitle {
  font-weight: 600;
  font-size: 2.375rem;
  text-transform: uppercase;
}
.intro__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
.intro__form {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__form-row {
  display: flex;
  align-items: center;
  width: 100%;
}
.intro__form-row:not(:last-child) {
  margin-bottom: 23px;
}
.intro__input {
  padding: 15px 13px;
  text-align: left;
}
.intro__input + .intro__input {
  margin-left: 28px;
}
.intro .btn {
  margin-left: 32px;
}
.intro__list {
  list-style-type: disc;
  margin-left: 30px;
}
.intro__list:not(:last-child) {
  margin-bottom: 23px;
}
.intro__list li {
  color: #000;
  font-size: 1.25rem;
  line-height: 1.6;
}

.benefits {
  margin-bottom: 60px;
}
.benefits__title {
  max-width: 80%;
  margin: 0 auto;
}
.benefits__subtitle:not(:last-child) {
  margin-bottom: 97px;
}

.services-price {
  margin-bottom: 102px;
}
.services-price__title {
  max-width: 75%;
  margin: 0 auto;
}
.services-price__subtitle:not(:last-child) {
  margin-bottom: 96px;
}

.blog-info {
  background-color: #D9D9D9;
  padding: 24px 0 101px;
  margin-bottom: 107px;
}
.blog-info__text {
  max-width: 75%;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto;
  line-height: 1.177;
}
.blog-info__text:not(:last-child) {
  margin-bottom: 25px;
}

.want {
  margin-bottom: 120px;
}
.want__subtitle {
  margin-bottom: 84px;
}

.includes {
  margin-bottom: 55px;
  overflow: hidden;
}
.includes__title:not(:last-child) {
  margin-bottom: 90px;
}

.decide {
  background: #F4F4F4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 22px 120px;
  position: relative;
  z-index: 2;
}
.decide::before {
  content: "";
  background-image: url("../img/person.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.decide__container {
  display: flex;
  justify-content: space-between;
  padding: 56px 15px 58px;
}
.decide__col:first-child {
  flex: 0 0 60%;
}
.decide__col + .decide__col {
  margin-left: 16px;
}
.decide__title {
  text-align: left;
  text-transform: none;
}
.decide__title:not(:last-child) {
  margin-bottom: 24px;
}
.decide__text {
  max-width: 75%;
  font-size: 1.25rem;
}
.decide__text span {
  font-weight: 700;
}
.decide__text:not(:last-child) {
  margin-bottom: 24px;
}
.decide__list:not(:last-child) {
  margin-bottom: 67px;
}
.decide__item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.decide__item + .decide__item {
  margin-top: 13px;
}
.decide__item span {
  font-weight: 700;
  margin-right: 4px;
}
.decide__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #073465;
  border-radius: 50%;
  margin-right: 4px;
}
.decide__info {
  max-width: 27%;
  font-weight: 600;
  font-size: 1.125rem;
}
.decide__info:not(:last-child) {
  margin-bottom: 14px;
}
.decide__phone {
  display: flex;
  align-items: center;
}
.decide__phone div + div {
  margin-left: 12px;
}
.decide__phone a {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.02em;
}
.decide form:not(:last-child) {
  margin-bottom: 41px;
}
.decide__label {
  display: block;
  font-size: 1rem;
  text-align: center;
}
.decide__label:not(:last-child) {
  margin-bottom: 21px;
}
.decide__input {
  padding: 15px 13px;
  text-align: left;
}
.decide__input + .decide__input {
  margin-top: 26px;
}
.decide__btn {
  margin-top: 21px;
}
.decide__write {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 24px;
}
.decide .socials__link img {
  width: 45px;
  height: 45px;
}

.included {
  margin-bottom: 104px;
}
.included__title {
  max-width: 80%;
  margin: 0 auto;
}
.included__title span {
  text-decoration: underline;
}
.included__title:not(:last-child) {
  margin-bottom: 86px;
}
.included__slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.included__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  transition-property: transform, -webkit-transform;
}
.included__wrapper:not(:last-child) {
  margin-bottom: 120px;
}
.included__slide {
  flex-shrink: 0;
  position: relative;
  transition-property: transform, -webkit-transform;
  opacity: 0.5;
}
.included__slide .card__img {
  height: 131px;
}
.included__slide .card__info:not(:last-child) {
  margin-bottom: 29px;
}
.included__button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
.included__row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60.5%;
  margin: 0 auto;
}
.included__scrollbar {
  background: #989898;
  width: 100%;
  height: 3px;
  margin: 0 177px;
}
.included__scrollbar .swiper-scrollbar-drag {
  background: #000;
  height: 3px;
  width: 68px;
  cursor: pointer;
}

.swiper-slide-active {
  opacity: 1;
}
.swiper-slide-active .card__img {
  height: 160px;
}
.swiper-slide-active .card__info:not(:last-child) {
  margin-bottom: 13px;
}
.swiper-slide-prev, .swiper-slide-next {
  opacity: 1;
}
.swiper-slide-prev .card__img, .swiper-slide-next .card__img {
  height: 132px;
}
.swiper-slide-prev .card__info:not(:last-child), .swiper-slide-next .card__info:not(:last-child) {
  margin-bottom: 10px;
}

.admin-services {
  background-image: url("../img/services/bg-service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
  padding: 120px 0;
}
.admin-services__title {
  max-width: 70%;
  margin: 0 auto;
}
.admin-services__subtitle:not(:last-child) {
  margin-bottom: 82px;
}
.admin-services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 110px 35px;
  align-items: end;
}
.admin-services__img {
  margin-bottom: 8px;
}

.admin-services-grid__title {
  font-weight: 700;
  font-size: 1.125rem;
}
.admin-services-grid__title:not(:last-child) {
  margin-bottom: 10px;
}
.admin-services-grid__text {
  font-size: 0.875rem;
}
.admin-services-grid__text:not(:last-child) {
  margin-bottom: 10px;
}

.questions {
  background-image: url("../img/do-you-have-questions.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 68px 0;
  margin-bottom: 120px;
}
.questions .container {
  max-width: 890px;
}
.questions__title {
  color: #fff;
}
.questions__title:not(:last-child) {
  margin-bottom: 68px;
}
.questions__form:not(:last-child) {
  margin-bottom: 25px;
}
.questions__group {
  display: flex;
}
.questions__group:not(:last-child) {
  margin-bottom: 45px;
}
.questions__input {
  text-align: left;
  padding: 19px 13px;
}
.questions__input + .questions__input {
  margin-left: 42px;
}

.system {
  margin-bottom: 167px;
}
.system__title {
  max-width: 75%;
  margin: 0 auto;
}
.system__subtitle:not(:last-child) {
  margin-bottom: 161px;
}

.info-block {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.info-block + .info-block {
  margin-top: 111px;
}
.info-block.right {
  text-align: right;
}
.info-block.right .info-block__col {
  margin-right: 0;
  margin-left: auto;
}
.info-block.right .info-block__img {
  margin-right: 0;
  margin-left: 30px;
}
.info-block.right .info-block__img::before {
  right: 90px;
  left: initial;
  background: linear-gradient(270deg, #949494 -53%, rgba(255, 255, 255, 0) 100%);
}
.info-block__img {
  margin-right: 30px;
}
.info-block__img img {
  max-width: 555px;
  width: 100vw;
  filter: drop-shadow(5px -5px 8px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}
.info-block__img::before {
  content: "";
  position: absolute;
  left: 101px;
  top: -60px;
  bottom: 0;
  height: 324px;
  width: 859px;
  background: linear-gradient(90deg, #949494 -16%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
  z-index: -1;
}
.info-block__col {
  max-width: 488px;
  margin-top: 1px;
  margin-right: auto;
}
.info-block__title {
  font-weight: 700;
  font-size: 1.25rem;
}
.info-block__title:not(:last-child) {
  margin-bottom: 20px;
}
.info-block__text {
  font-size: 1rem;
  line-height: 1.625;
}
.info-block__text:not(:last-child) {
  margin-bottom: 20px;
}

.stages.bg {
  background-image: url("../img/services/bg-service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 158px;
  margin-bottom: 120px;
}
.stages__subtitle {
  max-width: 70%;
  margin: 0 auto;
}
.stages__subtitle:not(:last-child) {
  margin-bottom: 79px;
}

.stage {
  position: relative;
}
.stage::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 488px;
  width: 2px;
  height: 91%;
  border: 2px dashed #073465;
}
.stage__item {
  display: flex;
  justify-content: flex-end;
}
.stage__item + .stage__item {
  margin-top: 57px;
}
.stage__item--left {
  justify-content: flex-start;
}
.stage__item--left .stage__content {
  text-align: right;
  width: 35.8%;
  margin-right: 50px;
  margin-left: 0;
}
.stage__number {
  background: #073465;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.6666666667;
  position: relative;
  box-shadow: inset 1px 2px 7px rgba(255, 255, 255, 0.55);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.stage__content {
  margin-left: 51px;
  max-width: 50%;
  margin-left: 50px;
  margin-top: 5px;
}
.stage__title {
  font-weight: 600;
  font-size: 1.5625rem;
}
.stage__title:not(:last-child) {
  margin-bottom: 13px;
}
.stage__text {
  font-size: 1.125rem;
}
.stage__text:not(:last-child) {
  margin-bottom: 13px;
}
.guarantee {
  margin-bottom: 144px;
}
.guarantee__title {
  max-width: 70%;
  margin: 0 auto;
}
.guarantee__subtitle:not(:last-child) {
  margin-bottom: 109px;
}

.guarantee-block {
  box-shadow: inset 9px 10px 11px rgba(255, 255, 255, 0.39);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  background: #EBEBEB;
  border-radius: 5px;
  padding: 0 13px 44px 25px;
  transition: transform 0.3s;
}
@media (any-hover: hover) {
  .guarantee-block:hover {
    transform: scale(1.1);
  }
}
.guarantee-block-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 53px 30px;
}
.guarantee-block__img {
  width: 88px;
  height: 88px;
  margin: -18px auto 0;
}
.guarantee-block__img:not(:last-child) {
  margin-bottom: 40px;
}
.guarantee-block__title {
  font-weight: 700;
  font-size: 1.25rem;
}
.guarantee-block__title:not(:last-child) {
  margin-bottom: 20px;
}
.guarantee-block__text {
  font-size: 1rem;
}
.guarantee-block__text:not(:last-child) {
  margin-bottom: 20px;
}

.why {
  background-image: url("../img/bg-what.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 184px;
  margin-bottom: 120px;
}
.why__title {
  max-width: 52%;
  margin: 0 auto;
}
.why__subtitle:not(:last-child) {
  margin-bottom: 138px;
}
.why__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 120px 30px;
}
.why__item-1 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #073465;
}
.why__item-1:not(:last-child) {
  margin-bottom: 19px;
}
.why__item-2 {
  font-weight: 500;
  font-size: 1rem;
}
.why__item-2:not(:last-child) {
  margin-bottom: 19px;
}

.faq {
  margin-bottom: 176px;
}
.faq__subtitle:not(:last-child) {
  margin-bottom: 81px;
}

.accordion {
  --acordion-time: 0.3s;
}
.accordion + .accordion {
  margin-top: 50px;
}
.accordion--active .accordion__control::after {
  visibility: hidden;
}
.accordion__control {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  position: relative;
}
.accordion__control span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #073465;
}
.accordion__control::before, .accordion__control::after {
  content: "";
  background-color: #073465;
  position: absolute;
  right: 0;
  top: 0;
}
.accordion__control::before {
  width: 30px;
  height: 1px;
}
.accordion__control::after {
  width: 1px;
  height: 30px;
  top: -15px;
  right: 14px;
}
.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 17px 0px;
  will-change: max-height;
  transition: all var(--acordion-time) ease-out;
  font-size: 1.25rem;
  line-height: 1.65;
  color: #073465;
}

.accordion--active .accordion__content {
  opacity: 1;
}

.who {
  margin-bottom: 88px;
}
.who__title:not(:last-child) {
  margin-bottom: 70px;
}
.who__item + .who__item {
  margin-top: 44px;
}
.who__item-img {
  width: 94px;
  height: 94px;
}
.who__item-img img {
  width: 100%;
  height: 100%;
}
.who__item-img:not(:last-child) {
  margin-bottom: 32px;
}
.who__item-title {
  max-width: 32%;
  font-weight: 700;
  color: #073465;
}
.who__item-title:not(:last-child) {
  margin-bottom: 22px;
}
.who__item-text {
  max-width: 90%;
  font-size: 1rem;
  line-height: 1.625;
}

.tarifs {
  background-color: rgba(251, 251, 251, 0.63);
  background-image: url("../img/tarif-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 44px;
  margin-bottom: 48px;
}
.tarifs__title:not(:last-child) {
  margin-bottom: 15px;
}
.tarifs__subtitle {
  max-width: 63%;
  margin: 0 auto;
}
.tarifs__subtitle:not(:last-child) {
  margin-bottom: 43px;
}
.tarifs__text {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
}
.tarifs__text:not(:last-child) {
  margin-bottom: 15px;
}

.tarifs-table:not(:last-child) {
  margin-bottom: 41px;
}
.tarifs-table__col {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1.51fr);
  gap: 0 30px;
  align-items: center;
  position: relative;
}
.tarifs-table__col::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.tarifs-table__col:last-child .tarifs-table__item {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: relative;
  z-index: 6;
}
.tarifs-table__name {
  padding: 23px 0;
  font-size: 1rem;
}
.tarifs-table__package {
  background: #073465;
  border: 1px solid #B3B3B3;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: inset 5px 6px 8px rgba(255, 255, 255, 0.25);
  filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.25));
  color: #fff;
  text-align: center;
  padding: 32px 16px;
}
.tarifs-table__item {
  filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.25));
  background: #F1F1F1;
  border-left: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
  box-shadow: inset 0px 3px 6px 3px rgba(0, 0, 0, 0.03);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 16px;
  text-align: center;
  font-size: 1rem;
}

.tarifs-table-check {
  width: 23px;
  height: 19px;
}

.tarifs-table-cross {
  width: 16px;
  height: 16px;
}

.partial-included {
  margin-bottom: 105px;
}
.partial-included__subtitle {
  margin-bottom: 62px;
}

.partial-included-block {
  background-image: url("../img/partial-included/bg-partial-included.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 38px 0 72px;
  position: relative;
}
.partial-included-block__title {
  margin-bottom: 49px;
}
.partial-included-block__subtitle {
  text-align: left;
}
.partial-included-block__subtitle:not(:last-child) {
  margin-bottom: 89px;
}
.partial-included-block__img {
  position: absolute;
  top: 10%;
  right: 0;
}

.partial-included-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 372px);
  gap: 53px 132px;
}

.partial-included-item__img {
  width: 64px;
  height: 64px;
}
.partial-included-item__img img {
  width: 100%;
  height: 100%;
}
.partial-included-item__img:not(:last-child) {
  margin-bottom: 10px;
}
.partial-included-item__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6666666667;
}
.partial-included-item__title:not(:last-child) {
  margin-bottom: 0.5555555556em;
}
.partial-included-item__text {
  font-size: 1rem;
  line-height: 1.625;
}
.partial-included-item__text:not(:last-child) {
  margin-bottom: 10px;
}
.partial-included-item__list {
  list-style-type: disc;
  margin-left: 25px;
}
.partial-included-item__list li {
  font-size: 0.875rem;
  line-height: 1.905;
}
.partial-included-item__list:not(:last-child) {
  margin-bottom: 10px;
}

.offer {
  background-image: url("../img/offer/bg-offer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 37px 0 47px;
  color: #fff;
  margin-bottom: 45px;
}
.offer__container {
  max-width: 1265px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.offer__content {
  max-width: 716px;
  margin-right: 16px;
  margin-top: 79px;
}
.offer__title {
  text-align: left;
}
.offer__title:not(:last-child) {
  margin-bottom: 39px;
}
.offer__text:not(:last-child) {
  margin-bottom: 25px;
}
.offer__img {
  max-width: 510px;
  width: 100%;
  filter: drop-shadow(-3px 4px 7px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}

.stages-number {
  background-image: url("../img/stages-number/bg-stages-number.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 198px 0 160px;
  margin-bottom: 77px;
}
.stages-number__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(455px, 1fr));
  gap: 150px 130px;
  counter-reset: item-stages;
}
.stages-number__item {
  z-index: 2;
}
.stages-number__item-title {
  position: relative;
  font-weight: 700;
}
.stages-number__item-title::before {
  counter-increment: item-stages;
  content: counter(item-stages);
  position: absolute;
  font-weight: 700;
  font-size: 128px;
  color: #E1E1E1;
  top: -92px;
  left: 0;
  z-index: -1;
}
.stages-number__item-title:not(:last-child) {
  margin-bottom: 23px;
}
.stages-number__item-text {
  font-size: 1rem;
}
.stages-number__item-text:not(:last-child) {
  margin-bottom: 23px;
}

.kinds {
  background: #F2F2F2;
  padding: 106px 0 87px;
  margin-bottom: 100px;
}
.kinds__subtitle:not(:last-child) {
  margin-bottom: 38px;
}

.home .intro__content {
  max-width: 73%;
}

.services-page .intro {
  padding-top: 126px;
  margin-bottom: 41px;
}
.services-page .intro .container {
  display: flex;
  align-items: flex-end;
}
.services-page .intro__content {
  flex-basis: 53%;
}
.services-page .intro__title:not(:last-child) {
  margin-bottom: 35px;
}
.services-page .intro__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.services-page .intro__text {
  max-width: 65%;
  font-size: 1.25rem;
  line-height: 1.6;
}
.services-page .intro__text-1 {
  font-size: 1.25rem;
}
.services-page .intro__text-1:not(:last-child) {
  margin-bottom: 27px;
}
.services-page .intro__form {
  flex-direction: column;
  align-items: baseline;
}
.services-page .intro__form .btn {
  margin-left: 0;
}
.services-page .guarantee {
  background-image: url("../img/bg-what.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 105px 0 97px;
  margin-bottom: 65px;
}
.services-page .guarantee__title {
  max-width: 54%;
}
.services-page .system {
  background: #F0F0F0;
  padding: 100px 0 38px;
  margin-bottom: 54px;
}
.services-page .system__title {
  max-width: 100%;
}
.services-page .system__title:not(:last-child) {
  margin-bottom: 227px;
}
.services-page .benefits {
  margin-bottom: 212px;
}
.services-page .benefits__title {
  max-width: 58%;
  margin: 0 auto;
}
.services-page .benefits__title:not(:last-child) {
  margin-bottom: 65px;
}
.services-page .info-block.right .info-block__img::before {
  background: linear-gradient(270deg, #073465 0%, rgba(7, 52, 101, 0.42) 100%);
}
.services-page .info-block__img::before {
  width: 1041px;
  background: linear-gradient(90deg, #073465 -1.97%, rgba(7, 52, 101, 0.42) 100%);
}
.services-page .info-block__text {
  max-width: 360px;
  color: #fff;
}
.services-page .stage {
  margin-bottom: 193px;
}
.services-page .stage__subtitle:not(:last-child) {
  margin-bottom: 105px;
}
.services-page .stage::before {
  height: 97%;
}

.contacts-page .intro {
  background-image: url("../img/main-pictures/02.jpg");
  background-position: center;
  padding: 172px 0 248px;
  margin-bottom: 41px;
}
.contacts-page .intro__title {
  text-align: center;
}
.contacts-page .intro__subtitle {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}
.contacts-page .bg-gray {
  margin: 32px 0 59px;
  padding: 40px 0 56px;
}
.contacts-page .title:not(:last-child) {
  margin-bottom: 60px;
}
.contacts-page__item + .contacts-page__item {
  margin-top: 60px;
}
.contacts-page__item li {
  font-size: 1.25rem;
}
.contacts-page__item-2 .socials:not(:last-child) {
  margin-bottom: 17px;
}
.contacts-page__item-2 .socials__link {
  width: 40px;
  height: 40px;
}
.contacts-page__item-2 .socials__link img {
  width: 40px;
  height: 40px;
}
.contacts-page__item-2 ul:not(:last-child) {
  margin-bottom: 12px;
}
.contacts-page__item-2-list li + li {
  margin-top: 13px;
}
.contacts-page__item-2 .contacts {
  font-size: 1.25rem;
}
.contacts-page__item address {
  font-size: 20px;
}
.contacts-page__item address:not(:last-child) {
  margin-bottom: 12px;
}
.contacts-page__map {
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  max-height: 623px;
  margin: 0 auto 59px;
  border: none;
  outline: none;
}
.contacts-page .questions {
  margin-bottom: 64px;
}

.breadcrumb-current {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb-current div {
  font-weight: 700;
  font-size: 20px;
}
.breadcrumb-current img {
  width: 10px;
  height: 10px;
  margin: 0 11px;
}

.about-page .intro {
  background-image: url("../img/main-pictures/03.jpg");
  background-position: center;
  padding: 172px 0 291px;
  margin-bottom: 89px;
}
.about-page .intro__title {
  text-align: center;
}
.about-page .intro__subtitle {
  max-width: 30%;
  margin: 0 auto;
  text-align: center;
}
.about-page .who-are-we {
  margin-bottom: 113px;
}
.about-page__item {
  display: flex;
}
.about-page__item .container {
  position: relative;
}
.about-page__item .title:not(:last-child) {
  margin-bottom: 32px;
}
.about-page__item .text {
  font-size: 1.25rem;
}
.about-page__item .text:not(:last-child) {
  margin-bottom: 32px;
}
.about-page__item .text p {
  margin-top: 1em;
}
.about-page__item-logo {
  max-width: 762px;
  width: 100%;
  position: absolute;
  bottom: -77%;
  left: 50px;
  z-index: 5;
}
.about-page__item-1 {
  position: relative;
  margin-bottom: 352px;
}
.about-page__item-1 .title {
  text-align: left;
}
.about-page__item-1 .text {
  max-width: 45%;
}
.about-page__item-1 .img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.about-page__item-2 .content {
  margin-left: 30px;
}
.about-page__item-2 .content .title {
  text-align: left;
}
.about-page .why {
  margin-bottom: 62px;
}
.about-page__mainTitle {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 62px;
}

.articles-page .intro {
  background-image: url("../img/main-pictures/04.jpg");
  background-position: center;
  padding: 230px 0 156px;
  margin-bottom: 49px;
}
.articles-page .intro__title {
  text-align: center;
}
.articles-page .decide {
  margin-bottom: 97px;
}
.articles-page__search {
  display: flex;
  max-width: 757px;
  margin-bottom: 97px;
}
.articles-page__search input {
  width: 100%;
  max-width: 626px;
  background: #FFFFFF;
  border: 1px solid #7A7A7A;
  border-radius: 10px 0px 0px 10px;
  padding: 19px 24px;
  font-size: 1rem;
  color: #000;
  text-align: left;
}
.articles-page__search input::placeholder {
  color: #8B8B8B;
}
@media (any-hover: hover) {
  .articles-page__search input:hover {
    outline: none;
  }
}
.articles-page__search input:focus {
  outline: none;
}
.articles-page__search button {
  padding: 19px 42px;
  background: #073465;
  border-radius: 0px 10px 10px 0px;
  font-size: 1rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .articles-page__search button:hover {
    background-color: #0e65c4;
  }
}

.articles-filter {
  max-width: 335px;
}
.articles-filter:not(:last-child) {
  margin-bottom: 58px;
}
.articles-filter__item {
  background: #073465;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.42), inset 4px -1px 7px rgba(255, 255, 255, 0.35);
  padding: 19px 10px;
  color: #fff;
  transition: background 0.3s;
  cursor: pointer;
}
@media (any-hover: hover) {
  .articles-filter__item:hover {
    background-color: #0e65c4;
  }
}
.articles-filter__btn {
  font-weight: 700;
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
}

.category {
  margin-bottom: 67px;
}
.category p:not(:last-child) {
  margin-bottom: 23px;
}
.category__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, max-content));
  gap: 45px;
}
.category__item {
  font-size: 1rem;
  background: #EEEEEE;
  border: 1px solid #AEAEAE;
  border-radius: 20px;
  padding: 7px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
@media (any-hover: hover) {
  .category__item:hover {
    background-color: #073465;
    color: #fff;
  }
}

.blog__title {
  text-align: left;
}
.blog__title:not(:last-child) {
  margin-bottom: 92px;
}

.articles {
  margin-bottom: 46px;
}
.articles__post {
  padding-bottom: 23px;
  border-bottom: 1px solid #BFBFBF;
  display: flex;
}
.articles__post + .articles__post {
  margin-top: 46px;
}
.articles__post-col {
  flex-basis: 50%;
}
.articles__post-col:first-child {
  flex-basis: 40.22%;
  margin-right: 30px;
}
.articles__post-img {
  max-width: 458px;
}
.articles__post-img:not(:last-child) {
  margin-bottom: 16px;
}
.articles__post-img img {
  max-width: 458px;
  width: 100%;
}
.articles__post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.articles__post-item {
  display: flex;
  align-items: center;
}
.articles__post-date img {
  width: 28px;
  height: 28px;
}
.articles__post-date span {
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.72);
  margin-left: 9px;
}
.articles__post-views img {
  width: 24px;
  height: 24px;
}
.articles__post-views span {
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.72);
  margin-left: 6px;
}
.articles__post-time img {
  width: 20px;
  height: 20px;
}
.articles__post-time span {
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.72);
  margin-left: 15px;
}
.articles__post-title {
  color: #073465;
}
.articles__post-title:not(:last-child) {
  margin-bottom: 8px;
}
.articles__post-text {
  font-size: 1rem;
  line-height: 1.625;
}
.articles__post-text:not(:last-child) {
  margin-bottom: 0.5em;
}

.recommend {
  margin-bottom: 141px;
}
.recommend__title {
  text-align: left;
}
.recommend__title:not(:last-child) {
  margin-bottom: 50px;
}
.recommend__list {
  max-width: 65%;
  list-style-type: disc;
  margin-left: 25px;
}
.recommend__item {
  color: #0050B9;
}
.recommend__item + .recommend__item {
  margin-top: 17px;
}
.recommend__link {
  text-decoration: underline;
  color: #0050B9;
}

.article-page .breadcrumb {
  margin-bottom: 64px;
}
.article-page .breadcrumb__item[aria-current] a {
  color: #073465;
}
.article-page .intro {
  background-image: url("../img/main-pictures/04.jpg");
  background-position: center;
  padding: 230px 0 156px;
  margin-bottom: 49px;
}
.article-page .intro__title {
  text-align: center;
}
.article-page .decide {
  margin-bottom: 107px;
}
.article-page__started {
  margin-bottom: 79px;
}
.article-page__title {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 2.375rem;
  line-height: 1.1052631579;
}
.article-page__title:not(:last-child) {
  margin-bottom: 1.1315789474em;
}
.article-page__img {
  width: 100%;
  max-width: 1140px;
  max-height: 461px;
}
.article-page__img img {
  width: 100%;
}
.article-page__img:not(:last-child) {
  margin-bottom: 34px;
}
.article-page__img width {
  width: 100%;
}
.article-page__started-row {
  display: flex;
  align-items: center;
}
.article-page__started-row:not(:last-child) {
  margin-bottom: 31px;
}
.article-page__started-item {
  display: flex;
  align-items: center;
}
.article-page__started-item span {
  font-size: 0.8125rem;
  color: rgba(0, 0, 0, 0.72);
}
.article-page__started-item:not(:first-child) {
  margin-left: 42px;
}
.article-page__started-author span {
  margin-left: 12px;
}
.article-page__started-calendar span {
  margin-left: 9px;
}
.article-page__started-views span {
  margin-left: 6px;
}
.article-page__started-time span {
  margin-left: 10px;
}
.article-page__started-socials:not(:last-child) {
  margin-left: 67px;
}
.article-page__started-socials .socials__link {
  width: 37px;
  height: 37px;
}
.article-page__started-socials .socials__link img {
  width: 37px;
  height: 37px;
}
.article-page__text {
  font-size: 1rem;
  line-height: 1.666875;
  color: #3F3F3F;
}
.article-page__text:not(:last-child) {
  margin-bottom: 30px;
}
.article-page__text p + .article-page__text p {
  margin-top: 1em;
}
.article-page .recommend-1 {
  margin-bottom: 55px;
}
.article-page .recommend-2 {
  margin-bottom: 139px;
}
.article-page .category {
  margin-bottom: 72px;
}

.navigation-article {
  background: #F2F2F2;
  padding: 55px 0 51px;
  margin-bottom: 69px;
}
.navigation-article__title {
  text-align: left;
  color: #073465;
}
.navigation-article__title:not(:last-child) {
  margin-bottom: 42px;
}
.navigation-article__item {
  color: #257EDF;
}
.navigation-article__item + .navigation-article__item {
  margin-top: 10px;
}
.navigation-article__link {
  display: block;
  color: #257EDF;
}
.navigation-article__link:not(:last-child) {
  margin-bottom: 10px;
}
.navigation-article__sublist {
  list-style-type: disc;
  padding-left: 29px;
}
.navigation-article__sublist-item {
  transition: color 0.3s;
}
.navigation-article__sublist-item:hover {
  color: #C90000;
}
.navigation-article__sublist-item + .navigation-article__sublist-item {
  margin-top: 11px;
}
.navigation-article__sublist-link {
  font-size: 1rem;
  color: #257EDF;
}

.article {
  padding-bottom: 66px;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 53px;
}
.article__item + .article__item {
  margin-top: 60px;
}
.article__title {
  text-align: left;
}
.article__title.center {
  max-width: 78%;
  margin: 0 auto;
  text-align: center;
}
.article__title.center:not(:last-child) {
  margin-bottom: 60px;
}
.article__title:not(:last-child) {
  margin-bottom: 40px;
}
.article__require:not(:last-child) {
  margin-bottom: 60px;
}
.article__require li {
  text-decoration: underline;
}
.article__require li + li {
  margin-top: 18px;
}
.article__text {
  font-size: 1rem;
  line-height: 1.625;
}
.article__text:not(:last-child) {
  margin-bottom: 30px;
}
.article__text p + p {
  margin-top: 1em;
}
.article__link {
  display: block;
  width: 100%;
  background: transparent;
  border: 5px solid #073465;
  padding: 21px 22px;
  font-weight: 700;
}
.article__link:not(:last-child) {
  margin-bottom: 30px;
}
.article__img {
  max-width: fit-content;
  margin: 0 auto;
}
.article__img img {
  display: block;
  width: 100%;
}
.article__subtitle {
  font-size: 2rem;
  line-height: 1.15625;
}
.article__subtitle:not(:last-child) {
  margin-bottom: 1.25em;
}
.article__list {
  list-style-type: disc;
  padding-left: 2px;
}
.article__list:not(:last-child) {
  margin-bottom: 32px;
}
.article__list li {
  font-size: 1rem;
  line-height: 1.666875;
}
.article__navgitation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 159px;
}
.article__navgitation a {
  font-weight: 600;
  font-size: 1rem;
}
.article__navgitation-left {
  display: flex;
  align-items: center;
  margin-right: 16px;
  transition: color 0.3s;
  cursor: pointer;
}
.article__navgitation-left a {
  margin-left: 12px;
}
.article__navgitation-right {
  display: flex;
  align-items: center;
  transition: color 0.3s;
  cursor: pointer;
}
.article__navgitation-right a {
  margin-right: 12px;
}

.comment {
  border-bottom: 3px solid #D7D7D7;
  padding-bottom: 85px;
  margin-bottom: 96px;
}

.comment-item {
  border-bottom: 3px solid #AEAEAE;
  margin-bottom: 44px;
  padding-bottom: 9px;
}
.comment-item span {
  border-bottom: 3px solid #000000;
  padding-bottom: 9px;
}

.comment-create .socials__link img {
  width: 36px;
  height: 36px;
}
.comment-create__item:first-child {
  display: flex;
  margin: 9px;
}
.comment-create__avatar {
  margin-right: 30px;
  width: 70px;
  height: 63px;
}
.comment-create__avatar img {
  width: 70px;
  height: 63px;
  border-radius: 50%;
}
.comment-create__item-text {
  font-size: 1rem;
}
.comment-create__item-text:not(:last-child) {
  margin-bottom: 10px;
}
.comment-create__item-input {
  max-width: 975px;
  background: #FFFFFF;
  border: 2px solid #CBCBCB;
  border-radius: 5px;
  width: 100%;
  margin-left: 16px;
  padding: 4px 13px;
  font-size: 1rem;
  line-height: 1.625;
  color: #000;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
}
.comment-create__item-input::placeholder {
  font-weight: 600;
  font-size: 1rem;
  color: #4C4C4C;
}
@media (any-hover: hover) {
  .comment-create__item-input:hover {
    outline: none;
  }
}
.comment-create__item-input:focus {
  outline: none;
}
.comment-create__item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-create-form {
  border: 2px solid #CBCBCB;
  border-radius: 5px;
  width: 100%;
}
.comment-create-form__input {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 17px 27px;
  border-bottom: 2px solid #CBCBCB;
  border-radius: 0;
  color: #000;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
}
@media (any-hover: hover) {
  .comment-create-form__input:hover {
    outline: none;
  }
}
.comment-create-form__input:focus {
  outline: none;
}
.comment-create-form__input::placeholder {
  font-weight: 600;
  font-size: 1rem;
  color: #4C4C4C;
}
.comment-create-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 4px 4px 6px;
}
.comment-create-form__item-left {
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.comment-create-form__item-first {
  padding-right: 6px;
  margin-right: 15px;
  border-right: 1px solid #CBCBCB;
  height: 18px;
}
.comment-create-form__item-first img {
  width: 17px;
  height: 17px;
}
.comment-create-form__item-item {
  color: #A9A9A9;
  font-size: 1rem;
}
.comment-create-form__item-item:first-child {
  font-weight: 700;
}
.comment-create-form__item-item + .comment-create-form__item-item {
  margin-left: 8px;
}
.comment-create-form__item-btn {
  padding: 3px 10px;
  background: #073465;
  border-radius: 5px;
  font-size: 0.6875rem;
  color: #fff;
}

.comment-comments {
  margin-top: 129px;
}
.comment-comments__text {
  text-transform: uppercase;
  color: #676767;
  text-align: center;
}

.dark-intro .intro {
  color: #fff;
}
.dark-intro .header {
  color: #fff;
}
.dark-intro .header .arrow::after {
  background-color: #fff;
}

/*
---------Main-----------
*/
.main {
  flex: 1 1 auto;
}

/*
---------Footer-----------
*/
.footer {
  background-image: url("/img/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 44px 0 21px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__item:nth-child(2) {
  padding: 0 30px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin: 0 16px;
  flex-basis: 34%;
}
.footer__item:nth-child(3) {
  flex-basis: 23%;
}
.footer__title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}
.footer__title:not(:last-child) {
  margin-bottom: 26px;
}
.footer__title--center {
  text-align: center;
}
.footer__list {
  list-style-type: none;
}
.footer__phones {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__phones:not(:last-child) {
  margin-bottom: 26px;
}
.footer__phones a {
  font-size: 1.125rem;
  letter-spacing: 0.02em;
  line-height: 1.6666666667;
  color: #fff;
}
@media (any-hover: hover) {
  .footer__phones a:hover {
    color: #C90000;
  }
}
.footer__address {
  font-size: 1.125rem;
  color: #fff;
}
.footer__address:not(:last-child) {
  margin-bottom: 26px;
}
.footer__map {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  font-size: 1.125rem;
  color: #fff;
}
.footer__map img {
  margin-right: 7px;
}
.footer__map:not(:last-child) {
  margin-bottom: 26px;
}
.footer .socials__link img {
  width: 45px;
  height: 45px;
}
.footer__input {
  margin-bottom: 15px;
}
.footer form {
  margin-bottom: 42px;
}
.footer__link {
  display: block;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}
.footer__link:not(:last-child) {
  margin-bottom: 16px;
}

.footer-list__item + .footer-list__item {
  margin-top: 6px;
}
.footer-list__link {
  color: #fff;
  font-size: 1.125rem;
}
@media (any-hover: hover) {
  .footer-list__link:hover {
    color: #C90000;
  }
}