/*
-------Reset----------
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
header,
main,
footer,
section {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
----------Base-------------
*/

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 1.1538461538;
  font-size: 0.8125rem;
  color: #000;
  height: 100%;
}

body.locked {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1169px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 600;
  font-size: 2.375rem;
  text-transform: uppercase;
  text-align: center;
}

.title:not(:last-child) {
  margin-bottom: 25px;
}

.subtitle {
  font-size: 1.25rem;
  text-align: center;
}

.bg-gray {
  background-color: #F1F1F1;
  padding: 120px 0 65px;
  margin-bottom: 55px;
}

/*
---------Header-----------
*/

.header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.header__btn {
  background: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  padding: 0;
}

.header__btn--active {
  font-weight: 700;
}

.header__btn + .header__btn {
  margin-left: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu__item {
  position: relative;
}

.menu__link {
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__btn {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.menu__sublist {
  list-style-type: none;
  background-color: #333;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 28px;
  margin-right: 12px;
}

.menu__phones a {
  font-size: 0.75rem;
  letter-spacing: -0.02em;
  line-height: 1.1666666667;
}

.menu .btn-group {
  margin-left: 12px;
}

.menu-sublist__link {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
}

.burger {
  display: none;
}

input {
  width: 100%;
  padding: 10px;
  background: #F3F3F3;
  border: 1px solid #969696;
  border-radius: 25px;
  outline: none;
  font-weight: 600;
  font-size: 1.125rem;
  color: #000;
  text-align: center;
}

input::-webkit-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
}

input::-moz-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
}

input:-ms-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
}

input::-ms-input-placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
}

input::placeholder {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5);
}

textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #eee;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  outline: none;
  resize: none;
}

.radio {
  position: relative;
}

.radio__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.radio__label {
  padding-left: 25px;
  cursor: pointer;
}

.radio__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: background-color 0.3s, border 0.3s;
  -o-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
}

.radio__label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox__label {
  padding-left: 25px;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: background-color 0.3s, border 0.3s;
  -o-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
}

.checkbox__label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: red;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn {
  display: inline-block;
  cursor: pointer;
  background-color: #C90000;
  padding: 1em;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.125rem;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  border: none;
}

.btn__sm {
  padding: 0.5555555556em;
}

.btn--blue {
  background-color: #073465;
  border: 1px solid #FFFFFF;
}

.btn:hover {
  background-color: #32408f;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--full {
  width: 100%;
}

a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.arrow::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 11px;
  background-color: #000;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-left: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item + .socials__item {
  margin-left: 12px;
}

.card-row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 25px 29px;
}

.card {
  background: #F8F8F8;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.card__img {
  margin-bottom: 3px;
  width: 100%;
  height: 161px;
}

.card__info {
  background: #073465;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
}

.card__info:not(:last-child) {
  margin-bottom: 16px;
}

.card__list {
  list-style-type: disc;
  padding-left: 30px;
  padding-bottom: 36px;
}

.card__item {
  font-weight: 600;
  font-size: 1rem;
}

.card__item + .card__item {
  margin-top: 6px;
}

.card__item--blue {
  color: #073465;
}

.card__list-prices {
  padding-top: 24px;
  text-align: center;
  border-top: 1px solid #000000;
  margin-top: 27px;
  padding-bottom: 34px;
  padding-left: 13px;
  padding-right: 23px;
}

.card__content {
  font-size: 1rem;
  padding-bottom: 47px;
}

.card--noImg .card__list {
  padding-bottom: 0;
}

.card--noImg .card__info {
  text-transform: uppercase;
  padding: 34px;
  margin-bottom: 38px;
}

.card-list-prices__item {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.666875;
  letter-spacing: 0.05em;
  color: #073465;
}

.table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
  grid-template-columns: 1.2fr 1fr;
}

.table__col:last-child {
  border-left: 1px solid #D2D2D2;
  padding-left: 67px;
  margin-left: 10px;
}

.table__item {
  padding-bottom: 13px;
  font-size: 1rem;
}

.table__item:not(:last-child) {
  border-bottom: 1px solid #D2D2D2;
}

.table__item--bold {
  font-weight: 700;
}

.table__item--upper {
  text-transform: uppercase;
}

.calculator {
  background: #FAF9F9;
  -webkit-box-shadow: 0px 0px 13px rgba(7, 52, 101, 0.49);
          box-shadow: 0px 0px 13px rgba(7, 52, 101, 0.49);
  border-radius: 10px;
  padding: 39px 120px 56px;
  margin: 0 30px;
}

.calculator__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator__info {
  border-left: 1px solid #D2D2D2;
  margin-left: 16px;
  padding-left: 16px;
}

.calculator__info-1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.calculator__info-1:not(:last-child) {
  margin-bottom: 26px;
}

.calculator__info-2 {
  background: #FFFFFF;
  border: 1px solid #969696;
  -webkit-box-shadow: 0px 2px 14px rgba(7, 52, 101, 0.34);
          box-shadow: 0px 2px 14px rgba(7, 52, 101, 0.34);
  border-radius: 20px;
  padding: 26px 20px;
  font-weight: 400;
  font-size: 2.25rem;
}

.calculator__info-2 span {
  font-size: 3.4375rem;
}

.calculator__info-2:not(:last-child) {
  margin-bottom: 33px;
}

.calculator .btn {
  margin-bottom: 55px;
}

.calculator__info-3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.calculator__info-3:not(:last-child) {
  margin-bottom: 15px;
}

.calculator__info-4:not(:last-child) {
  margin-bottom: 31px;
}

.calculator__info-4 p {
  font-weight: 600;
  font-size: 1.125rem;
}

.calculator__info-4 p:not(:last-child) {
  margin-bottom: 14px;
}

.calculator__info-4 a {
  font-size: 1rem;
  line-height: 1.666875;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  display: block;
}

.calculator__info-4-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__info-4-row div + div {
  margin-left: 12px;
}

.calculator__info-5:not(:last-child) {
  margin-bottom: 31px;
}

.calculator__info-5 p {
  font-weight: 600;
  font-size: 1.125rem;
}

.calculator__info-5 p:not(:last-child) {
  margin-bottom: 23px;
}

.filter__item + .filter__item {
  border-top: 1px solid #D2D2D2;
  padding-top: 19px;
}

.filter__item-1:not(:last-child) {
  margin-bottom: 20px;
}

.filter__between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__between:not(:last-child) {
  margin-bottom: 13px;
}

.filter__item-text {
  font-weight: 700;
  font-size: 1.25rem;
}

.filter__item-number {
  font-size: 1rem;
  line-height: 1.666875;
}

.filter__item-number .border {
  border-bottom: 1px solid #949494;
}

.filter__range {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: inset -1px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 13px;
}

.filter__range .noUi-base,
.filter__range .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.filter__range .noUi-connect {
  background: #073465;
  -webkit-box-shadow: inset -1px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: inset -1px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.filter__range .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

.filter__range .noUi-handle {
  border-radius: 50%;
  background: #073465;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 2px 1px 3px rgba(255, 255, 255, 0.49);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), inset 2px 1px 3px rgba(255, 255, 255, 0.49);
  cursor: default;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 23px;
  height: 23px;
  right: -17px;
  top: -6px;
}

.filter__range .noUi-touch-area {
  height: 100%;
  width: 100%;
}

.filter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item-2:not(:last-child) {
  margin-bottom: 36px;
}

.filter__name {
  font-size: 1.25rem;
}

.filter__name:not(:last-child) {
  margin-right: 25px;
}

.filter__choice-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 165px);
  gap: 17px 30px;
  margin-left: 16px;
}

.filter__choice {
  padding: 12px 5px;
  text-align: center;
  background: transparent;
  border: 1px solid #949494;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.filter__choice input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

.filter__choice input:checked + span {
  color: #fff;
}

.filter__choice span {
  font-size: 1rem;
}

.filter-counter {
  padding: 4px 5px;
  border: 1px solid #949494;
  border-radius: 20px;
  background: transparent;
  margin-right: 31px;
}

.filter-counter span {
  font-size: 1.25rem;
  line-height: 1.15;
  padding-left: 27px;
}

.filter-counter__btn {
  width: 12px;
  height: 7px;
}

.filter-counter__btn + .filter-counter__btn {
  margin-top: 9px;
}

.no-webp .intro {
  background-image: url("../img/main-pictures/01.jpg"); }

.intro {
  padding: 96px 0 56px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 160px;
}

.intro__content {
  max-width: 78%;
}

.intro__title {
  font-weight: 600;
  font-size: 3.4375rem;
}

.intro__title:not(:last-child) {
  margin-bottom: 32px;
}

.intro__subtitle {
  font-weight: 600;
  font-size: 2.375rem;
  text-transform: uppercase;
}

.intro__subtitle:not(:last-child) {
  margin-bottom: 20px;
}

.intro__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.intro__input {
  padding: 15px 13px;
  text-align: left;
}

.intro__input + .intro__input {
  margin-left: 28px;
}

.intro .btn {
  margin-left: 32px;
}

.benefits {
  margin-bottom: 60px;
}

.benefits__title {
  max-width: 80%;
  margin: 0 auto;
}

.benefits__subtitle:not(:last-child) {
  margin-bottom: 97px;
}

.services-price {
  margin-bottom: 102px;
}

.services-price__title {
  max-width: 75%;
  margin: 0 auto;
}

.services-price__subtitle:not(:last-child) {
  margin-bottom: 96px;
}

.blog-info {
  background-color: #D9D9D9;
  padding: 24px 0 101px;
  margin-bottom: 107px;
}

.blog-info__text {
  max-width: 75%;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto;
  line-height: 1.177;
}

.blog-info__text:not(:last-child) {
  margin-bottom: 25px;
}

.want {
  margin-bottom: 120px;
}

.want__subtitle {
  margin-bottom: 84px;
}

.includes {
  margin-bottom: 55px;
}

.includes__title:not(:last-child) {
  margin-bottom: 90px;
}

.decide {
  background: #F4F4F4;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 22px 120px;
  position: relative;
  z-index: 2;
}

.no-webp .decide::before {
  background-image: url("../img/person.png"); }

.decide::before {
  content: "";
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.decide__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 15px 58px;
}

.decide__col:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.decide__col + .decide__col {
  margin-left: 16px;
}

.decide__title {
  text-align: left;
  text-transform: none;
}

.decide__title:not(:last-child) {
  margin-bottom: 24px;
}

.decide__text {
  max-width: 75%;
  font-size: 1.25rem;
}

.decide__text span {
  font-weight: 700;
}

.decide__text:not(:last-child) {
  margin-bottom: 24px;
}

.decide__list:not(:last-child) {
  margin-bottom: 67px;
}

.decide__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.decide__item span {
  font-weight: 700;
  margin-right: 4px;
}

.decide__item::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #073465;
  border-radius: 50%;
  margin-right: 4px;
}

.decide__info {
  max-width: 27%;
  font-weight: 600;
  font-size: 1.125rem;
}

.decide__info:not(:last-child) {
  margin-bottom: 14px;
}

.decide__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.decide__phone div + div {
  margin-left: 12px;
}

.decide__phone a {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.decide form:not(:last-child) {
  margin-bottom: 41px;
}

.decide__label {
  display: block;
  font-size: 1rem;
  text-align: center;
}

.decide__label:not(:last-child) {
  margin-bottom: 21px;
}

.decide__input {
  padding: 15px 13px;
  text-align: left;
}

.decide__input + .decide__input {
  margin-top: 26px;
}

.decide__btn {
  margin-top: 21px;
}

.decide__write {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 24px;
}

.decide .socials__link img {
  width: 45px;
  height: 45px;
}

.included {
  margin-bottom: 104px;
}

.included__title {
  max-width: 80%;
  margin: 0 auto;
}

.included__title:not(:last-child) {
  margin-bottom: 86px;
}

.included__slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.included__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  transition-property: transform, -webkit-transform;
}

.included__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  transition-property: transform, -webkit-transform;
}

.no-webp .admin-services {
  background-image: url("../img/services/bg-service.jpg"); }

.admin-services {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
  padding: 120px 0;
}

.admin-services__title {
  max-width: 70%;
  margin: 0 auto;
}

.admin-services__subtitle:not(:last-child) {
  margin-bottom: 82px;
}

.admin-services__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 110px 35px;
}

.admin-services__img {
  margin-bottom: 8px;
}

.admin-services-grid__title {
  font-weight: 700;
  font-size: 1.125rem;
}

.admin-services-grid__title:not(:last-child) {
  margin-bottom: 10px;
}

.admin-services-grid__text {
  font-size: 0.875rem;
}

.admin-services-grid__text:not(:last-child) {
  margin-bottom: 10px;
}

.no-webp .questions {
  background-image: url("../img/do-you-have-questions.jpg"); }

.questions {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 68px 0;
  margin-bottom: 120px;
}

.questions__title {
  color: #fff;
}

.questions__title:not(:last-child) {
  margin-bottom: 68px;
}

.questions__form:not(:last-child) {
  margin-bottom: 25px;
}

.questions__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__group:not(:last-child) {
  margin-bottom: 45px;
}

.questions__input {
  text-align: left;
  padding: 19px 13px;
}

.questions__input + .questions__input {
  margin-left: 42px;
}

.system {
  margin-bottom: 167px;
}

.system__title {
  max-width: 75%;
  margin: 0 auto;
}

.system__subtitle:not(:last-child) {
  margin-bottom: 86px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.info-block + .info-block {
  margin-top: 111px;
}

.info-block__right .info-block__img::before {
  background: -webkit-gradient(linear, right top, left top, from(#949494), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(right, #949494 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(270deg, #949494 0%, rgba(255, 255, 255, 0) 100%);
}

.info-block__img {
  margin-right: 16px;
}

.info-block__img img {
  max-width: 555px;
  width: 100vw;
}

.info-block__img::before {
  content: "";
  position: absolute;
  left: 101px;
  top: -44px;
  bottom: 0;
  height: 324px;
  width: 1043px;
  background: -webkit-gradient(linear, left top, right top, from(#949494), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, #949494 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, #949494 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 5px;
  z-index: -1;
}

.info-block__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.info-block__title:not(:last-child) {
  margin-bottom: 20px;
}

.info-block__text {
  font-size: 1rem;
}

.info-block__text:not(:last-child) {
  margin-bottom: 20px;
}

.no-webp .stages.bg {
  background-image: url("../img/services/bg-service.jpg"); }

.stages.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 158px;
  margin-bottom: 120px;
}

.stages__subtitle {
  max-width: 70%;
  margin: 0 auto;
}

.stages__subtitle:not(:last-child) {
  margin-bottom: 79px;
}

.stage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stage__item--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stage__item--left .stage__content {
  text-align: right;
  width: 35.8%;
  margin-right: 50px;
  margin-left: 0;
}

.stage__number {
  background: #073465;
  border-radius: 50%;
  padding: 7px 24px;
  color: #fff;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.6666666667;
  position: relative;
  -webkit-box-shadow: inset 1px 2px 7px rgba(255, 255, 255, 0.55);
          box-shadow: inset 1px 2px 7px rgba(255, 255, 255, 0.55);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stage__number::before {
  content: "";
  position: absolute;
  bottom: -67px;
  left: 31px;
  width: 3px;
  height: 100%;
  border: 3px dashed #073465;
}

.stage__content {
  margin-left: 51px;
  max-width: 50%;
  margin-left: 50px;
}

.stage__title {
  font-weight: 600;
  font-size: 1.5625rem;
}

.stage__title:not(:last-child) {
  margin-bottom: 13px;
}

.stage__text {
  font-size: 1.125rem;
}

.stage__text:not(:last-child) {
  margin-bottom: 13px;
}

.guarantee {
  margin-bottom: 144px;
}

.guarantee__subtitle:not(:last-child) {
  margin-bottom: 109px;
}

.guarantee-block {
  -webkit-box-shadow: inset 9px 10px 11px rgba(255, 255, 255, 0.39);
          box-shadow: inset 9px 10px 11px rgba(255, 255, 255, 0.39);
  background: #EBEBEB;
  border-radius: 5px;
  padding: 0 25px 44px 25px;
}

.guarantee-block-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 53px 30px;
}

.guarantee-block__img {
  width: 88px;
  height: 88px;
  margin: -10px auto 0;
}

.guarantee-block__img:not(:last-child) {
  margin-bottom: 40px;
}

.guarantee-block__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.guarantee-block__title:not(:last-child) {
  margin-bottom: 20px;
}

.guarantee-block__text {
  font-size: 1rem;
}

.guarantee-block__text:not(:last-child) {
  margin-bottom: 20px;
}

.no-webp .why {
  background-image: url("../img/bg-what.jpg"); }

.why {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 184px;
  margin-bottom: 120px;
}

.why__title {
  max-width: 55%;
  margin: 0 auto;
}

.why__subtitle:not(:last-child) {
  margin-bottom: 138px;
}

.why__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 120px 30px;
}

.why__item-1 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #073465;
}

.why__item-1:not(:last-child) {
  margin-bottom: 19px;
}

.why__item-2 {
  font-weight: 500;
  font-size: 1rem;
}

.why__item-2:not(:last-child) {
  margin-bottom: 19px;
}

.faq {
  margin-bottom: 176px;
}

.faq__subtitle:not(:last-child) {
  margin-bottom: 81px;
}

.accordion {
  --acordion-time: 0.3s;
}

.accordion + .accordion {
  margin-top: 50px;
}

.accordion--active .accordion__control::after {
  visibility: hidden;
}

.accordion__control {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  position: relative;
}

.accordion__control span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #073465;
}

.accordion__control::before,
.accordion__control::after {
  content: "";
  background-color: #073465;
  position: absolute;
  right: 0;
  top: 0;
}

.accordion__control::before {
  width: 30px;
  height: 1px;
}

.accordion__control::after {
  width: 1px;
  height: 30px;
  top: -15px;
  right: 14px;
}

.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 17px 0px;
  will-change: max-height;
  -webkit-transition: all var(--acordion-time) ease-out;
  -o-transition: all var(--acordion-time) ease-out;
  transition: all var(--acordion-time) ease-out;
  font-size: 1.25rem;
  line-height: 1.65;
  color: #073465;
}

.accordion--active .accordion__content {
  opacity: 1;
}

/*
---------Main-----------
*/

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*
---------Footer-----------
*/

.no-webp .footer {
  background-image: url("../img/footer-background.jpg"); }

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 44px 0 21px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item:nth-child(2) {
  padding: 0 30px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin: 0 16px;
}

.footer__title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}

.footer__title:not(:last-child) {
  margin-bottom: 26px;
}

.footer__title--center {
  text-align: center;
}

.footer__list {
  list-style-type: none;
}

.footer__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__phones:not(:last-child) {
  margin-bottom: 26px;
}

.footer__phones a {
  font-size: 1.125rem;
  letter-spacing: 0.02em;
  line-height: 1.6666666667;
  color: #fff;
}

.footer__address {
  font-size: 1.125rem;
  color: #fff;
}

.footer__address:not(:last-child) {
  margin-bottom: 26px;
}

.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
  font-size: 1.125rem;
  color: #fff;
}

.footer__map img {
  margin-right: 7px;
}

.footer__map:not(:last-child) {
  margin-bottom: 26px;
}

.footer .socials__link img {
  width: 45px;
  height: 45px;
}

.footer__input {
  margin-bottom: 15px;
}

.footer form {
  margin-bottom: 42px;
}

.footer__link {
  display: block;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
}

.footer__link:not(:last-child) {
  margin-bottom: 16px;
}

.footer-list__item + .footer-list__item {
  margin-top: 6px;
}

.footer-list__link {
  color: #fff;
  font-size: 1.125rem;
}

@media (min-width: 767.98px) {
  .menu__sublist {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
  }

  .menu__sublist--active {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .menu {
    margin-left: 35px;
  }

  .menu__item + .menu__item {
    margin-left: 43px;
  }
}

@media (max-width: 767.98px) {
  .menu {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: -100%;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu--active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: 23px;
  }

  .menu__item + .menu__item {
    margin-top: 43px;
  }

  .menu__sublist {
    display: none;
  }

  .menu__sublist--active {
    display: block;
  }

  .burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    border: 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger span {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger:after {
    top: 0;
  }

  .burger::before {
    bottom: 7px;
  }

  .burger--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    background-color: #fff;
  }

  .burger--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0;
    background-color: #fff;
  }

  .burger--active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (any-hover: hover) {
  .header__btn:hover {
    color: #C90000;
  }

  .menu__link:hover {
    color: #C90000;
  }

  .menu__btn:hover {
    color: #C90000;
  }

  a:hover {
    color: #C90000;
  }

  .calculator__info-4 a:hover {
    color: #C90000;
  }

  .footer__phones a:hover {
    color: #C90000;
  }

  .footer-list__link:hover {
    color: #C90000;
  }
}

.webp .intro { background-image: url(../img/main-pictures/01.webp); }

.webp .decide::before { background-image: url(../img/person.webp); }

.webp .admin-services { background-image: url(../img/services/bg-service.webp); }

.webp .questions { background-image: url(../img/do-you-have-questions.webp); }

.webp .stages.bg { background-image: url(../img/services/bg-service.webp); }

.webp .why { background-image: url(../img/bg-what.webp); }

.webp .footer { background-image: url(../img/footer-background.webp); }